
<div class="header-tag">
    <span>GÀ RÁN - GÀ QUAY</span>
</div>

<div class="container">
    <div class="row1">
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/1-Fried-Chicken.jpg?v=gk7jGg" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">1 Miếng Gà Rán</div>
                        <div class="row2-item-price">35.000đ</div>
                    </div>
                    <p>1 Miếng Gà Giòn Cay/Gà Truyền Thống/Gà Giòn Không Cay</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/2-Fried-Chicken.jpg?v=gk7jGg" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">2 Miếng Gà Rán</div>
                        <div class="row2-item-price">70.000đ</div>
                    </div>
                    <p>2 Miếng Gà Giòn Cay/Gà Truyền Thống/Gà Giòn Không Cay</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/3-Fried-Chicken.jpg?v=gk7jGg" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">3 Miếng Gà Rán</div>
                        <div class="row2-item-price">104.000đ</div>
                    </div>
                    <p>3 Miếng Gà Giòn Cay/Gà Truyền Thống/Gà Giòn Không Cay</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/6-Fried-Chicken-new.jpg?v=gk7jGg" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">6 Miếng Gà Rán</div>
                        <div class="row2-item-price">204.000đ</div>
                    </div>
                    <p>6 Miếng Gà Giòn Cay/Gà Truyền Thống/Gà Giòn Không Cay</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/BJ.jpg?v=gk7jGg" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">1 Miếng Đùi Gà Quay</div>
                        <div class="row2-item-price">75.000đ</div>
                    </div>
                    <p>1 Miếng Đùi Gà Quay Giấy Bạc/Đùi Gà Quay Tiêu</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/MOD-PHI-LE-GA-QUAY.jpg?v=gk7jGg" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">1 Miếng Phi-lê Gà Quay</div>
                        <div class="row2-item-price">39.000đ</div>
                    </div>
                    <p>1 Miếng Phi-lê Gà Quay Flava/Phi-lê Gà Quay Tiêu</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/3-HW.jpg?v=gk7jGg" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">3 Cánh Gà Hot Wings</div>
                        <div class="row2-item-price">54.000đ</div>
                    </div>
                    <p>3 Cánh Gà Hot Wings</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/5-HW.jpg?v=gk7jGg" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">5 Cánh Gà Hot Wings</div>
                        <div class="row2-item-price">85.000đ</div>
                    </div>
                    <p>5 Cánh Gà Hot Wings</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/POP-R.jpg?v=gk7jGg" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Gà Viên (Vừa)</div>
                        <div class="row2-item-price">38.000đ</div>
                    </div>
                    <p>Gà Viên (Vừa)</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/POP-L.jpg?v=gk7jGg" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Gà Viên (Lớn)</div>
                        <div class="row2-item-price">64.000đ</div>
                    </div>
                    <p>Gà Viên (Lớn)</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/3_Nuggests.jpg?v=gk7jGg" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">3 Gà Miếng Nuggets</div>
                        <div class="row2-item-price">27.000đ</div>
                    </div>
                    <p>3 Gà Miếng Nuggets</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/5_Nuggests.jpg?v=gk7jGg" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">5 Gà Miếng Nuggets</div>
                        <div class="row2-item-price">40.000đ</div>
                    </div>
                    <p>5 Gà Miếng Nuggets</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/10_Nuggests.jpg?v=gk7jGg" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">10 Gà Miếng Nuggets</div>
                        <div class="row2-item-price">75.000đ</div>
                    </div>
                    <p>10 Gà Miếng Nuggets</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/2-TENDERS.jpg?v=gk7jGg" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">2 Gà Rán Tenders Vị Nguyên Bản</div>
                        <div class="row2-item-price">28.000đ</div>
                    </div>
                    <p>2 Gà Rán Tenders Vị Nguyên Bản</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/3-TENDERS.jpg?v=gk7jGg" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">3 Gà Rán Tenders Vị Nguyên Bản</div>
                        <div class="row2-item-price">41.000đ</div>
                    </div>
                    <p>3 Gà Rán Tenders Vị Nguyên Bản</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/5-TENDERS.jpg?v=gk7jGg" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">5 Gà Rán Tenders Vị Nguyên Bản</div>
                        <div class="row2-item-price">66.000₫</div>
                    </div>
                    <p>5 Gà Rán Tenders Vị Nguyên Bản</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/10-TENDERS.jpg?v=gk7jGg" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">10 Gà Rán Tenders Vị Nguyên Bản</div>
                        <div class="row2-item-price">129.000đ</div>
                    </div>
                    <p>10 Gà Rán Tenders Vị Nguyên Bản</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
