
<div class="header-tag">
    <span>COMBO NHÓM</span>
</div>
<div class="container">
    <div class="row1">
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/D-CBO-Bucket-1.jpg?v=gk7jGg" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Combo nhóm 2</div>
                        <div class="row2-item-price">127.000đ</div>
                    </div>
                    <p>2 Miếng Gà + 1 Burger Zinger + 2 Pepsi (lớn)</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/D-CBO-Bucket-2.jpg?v=gk7jGg" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Combo nhóm 3</div>
                        <div class="row2-item-price">160.000đ</div>
                    </div>
                    <p>3 Miếng Gà + 1 Mì Ý Popcorn + 1 Khoai Tây Chiên (vừa) + 2 Pepsi (lớn)</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/D-CBO-Bucket-3.jpg?v=gk7jGg" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Combo nhóm 4</div>
                        <div class="row2-item-price">167.000đ</div>
                    </div>
                    <p>4 Miếng Gà + 1 Khoai Tây Múi Cau (vừa) + 2 Pepsi (lớn)</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/D-CBO-Bucket-4.jpg?v=gk7jGg" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Combo nhóm 5</div>
                        <div class="row2-item-price">205.000đ</div>
                    </div>
                    <p>5 Miếng Gà + 1 Khoai Tây Chiên (vừa) + 3 Pepsi (lớn)</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/D-CBO-Bucket-5.jpg?v=gk7jGg" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Combo nhóm 6</div>
                        <div class="row2-item-price">275.000đ</div>
                    </div>
                    <p>6 Miếng Gà + 1 Mì Ý Popcorn + 1 Khoai Tây Múi Cau (vừa) + 4 Pepsi (lớn)</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>     
    </div>
</div>
