
<div class="header-tag">
    <span>BURGER - CƠM - MỲ Ý</span>
</div>
@* 1 *@
<div class="container">
    <div class="row1">
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/Burger-Zinger.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Burger Zinger</div>
                        <div class="row2-item-price">54.000đ</div>
                    </div>
                    <p>1 Burger Zinger</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        @* 2 *@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/Burger-Shrimp.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Burger Tôm</div>
                        <div class="row2-item-price">45.000đ</div>
                    </div>
                    <p>1 Burger Tôm</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        @* 3 *@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/Burger-Flava.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Burger Gà Quay Flava</div>
                        <div class="row2-item-price">54.000đ</div>
                    </div>
                    <p>1 Burger Gà Quay Flava</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        @* 4 *@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/Rice-Skewer.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Cơm Gà Xiên Que</div>
                        <div class="row2-item-price">45.000đ</div>
                    </div>
                    <p>1 Cơm Gà Xiên Que</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        @* 5 *@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/Rice-Teriyaki.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Cơm Gà Teriyaki</div>
                        <div class="row2-item-price">45.000đ</div>
                    </div>
                    <p>1 Cơm Gà Teriyaki</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        @* 6 *@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/Rice-F.Chicken.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Cơm Gà Rán</div>
                        <div class="row2-item-price">48.000đ</div>
                    </div>
                    <p>1 Cơm Gà Rán</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        @* 7 *@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/Rice-Flava.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Cơm Phi-lê Gà Quay</div>
                        <div class="row2-item-price">47.000đ</div>
                    </div>
                    <p>1 Cơm Phi-lê Gà Quay</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        @* 8 *@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/Rice.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Cơm</div>
                        <div class="row2-item-price">12.000đ</div>
                    </div>
                    <p>Cơm</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        @* 9 *@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/MI-Y-GA-VIEN.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Mì Ý Gà Viên)</div>
                        <div class="row2-item-price">40.000đ</div>
                    </div>
                    <p>Mì Ý Gà Viên</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        @* 10 *@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/MI-Y-GA-ZINGER.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Mì Ý Gà Zinger</div>
                        <div class="row2-item-price">58.000đ</div>
                    </div>
                    <p>Mì Ý Gà Zinger</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        @* 11 *@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/MI-Y-PHILE-GA-QUAY.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Mì Ý Phi-Lê Gà Quay</div>
                        <div class="row2-item-price">61.000đ</div>
                    </div>
                    <p>Mì Ý Phi-Lê Gà Quay</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        @* 12 *@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/MI-Y-GA-RAN.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Mì Ý Gà Rán</div>
                        <div class="row2-item-price">64.000đ</div>
                    </div>
                    <p>Mì Ý Gà Rán</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

      

    </div>
</div>
