
<div class="header-tag">
    <span>MÓM MỚI</span>
</div>
<div class="container">
    <div class="row1">

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/1-MIENG.jpg?v=gk7jGg" />
                </div>

                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">1 Gà Xốt Xiêm Xanh</div>
                        <div class="row2-item-price">46.000đ</div>
                    </div>

                    <p>1 Gà Xốt Ớt Xiêm Xanh</p>

                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>          
                    </div>
                </div>
            </div>
        </div>
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/3-MIENG.jpg?v=gk7jGg" />
                </div>

                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">3 Gà Xốt Ớt Xiêm Xanh</div>
                        <div class="row2-item-price">133.000đ</div>
                    </div>

                    <p>3 Gà Xốt Ớt Xiêm Xanh</p>

                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/6-MIENG.jpg?v=gk7jGg" />
                </div>

                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">6 Gà Xốt Ớt Xiêm Xanh</div>
                        <div class="row2-item-price">261.000đ</div>
                    </div>

                    <p>6 Gà Xốt Ớt Xiêm Xanh</p>

                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/HD_COMBO-A.jpg?v=gk7jGg" />
                </div>

                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Gà Xốt Ớt Xiêm Xanh A</div>
                        <div class="row2-item-price">73.000đ</div>
                    </div>

                    <p>1 Gà Xốt Ớt Xiêm Xanh + 1 Khoai tây chiên (vừa)/ 1 Khoai tây nghiền (vừa) & 1 Bắp cải trộn (vừa) + 1 Pepsi L</p>

                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/HD_COMBO-B.jpg?v=gk7jGg" />
                </div>

                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Gà Xốt Ớt Xiêm Xanh B</div>
                        <div class="row2-item-price">129.000đ</div>
                    </div>

                    <p>
                        2 Gà Xốt Ớt Xiêm Xanh + 3 Gà MiếngNuggets + 1 Pepsi (lớn)

                    </p>

                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/HD_COMBO-C.jpg?v=gk7jGg" />
                </div>

                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Gà Xốt Ớt Xiêm Xanh C</div>
                        <div class="row2-item-price">207.000đ</div>
                    </div>

                    <p>3 Gà Xốt Ớt Xiêm Xanh + 1 Miếng Gà + 1 Khoai tây chiên (vừa)/ 1 Khoai tây nghiền (vừa) & 1 Bắp cải trộn (vừa) + 2 Pepsi (lớn)</p>

                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/NANBAN.jpg?v=gk7jGg" />
                </div>

                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Cơm Gà Viên Nanban</div>
                        <div class="row2-item-price">39.000đ</div>
                    </div>

                    <p>01 Cơm Gà Viên Nanban</p>

                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/COMBO-A-Nan.jpg?v=gk7jGg" />
                </div>

                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Combo Cơm Gà Viên Nanban HDA</div>
                        <div class="row2-item-price">86.000đ</div>
                    </div>

                    <p>01 Cơm Gà Viên Nanban + 01 Miếng Gà Rán + 01 Pepsi lon</p>

                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/COMBO-B-Nan.jpg?v=gk7jGg" />
                </div>

                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Combo Cơm Gà Viên Nanban HDB</div>
                        <div class="row2-item-price">189.000đ</div>
                    </div>

                    <p>01 Cơm Gà Viên Nanban + 03 Miếng Gà Rán + 01 Khoai tây chiên (vừa)/ 01 Khoai tây nghiền & 01 Bắp cải trộn (vừa) + 02 Pepsi lon</p>

                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

