<div class="container">
    <div class="sidebar left">
    </div>
    <div class="row1">
        <div class="product">
            <img src="https://static.kfcvietnam.com.vn/images/items/lg/CBONHAYDAY_BURGER.jpg?v=V4Y7j3" />
            <div class="product-info">
                <h3 class="product-title">Combo Nhảy Dây</h3>
                <div class="product-price">
                    <span class="current-price">81.000₫</span>
                    <span class="original-price">95.000₫</span>
                </div>
                <p class="product-description">1 Miếng Gà + 1Mì Ý Gà Viên/Burger Tôm + 1 Ly Pepsi (Lớn)</p>
				<button class="add-to-cart">Thêm</button>
            </div>             
        </div>
        <div class="product">
            <img src="https://static.kfcvietnam.com.vn/images/items/lg/CBOTHADIEU.jpg?v=V4Y7j3" />
            <div class="product-info">
                <h3 class="product-title">Combo Nhảy Dây</h3>
                <div class="product-price">
                    <span class="current-price">161.000₫</span>
                    <span class="original-price">202.000₫</span>
                </div>
                <p class="product-description">4 Miếng Gà + 2 Gà Tenders Nguyên Bản + 2 Ly Pepsi (Lớn) </p>
				<button class="add-to-cart">Thêm</button>
	        </div>		
        </div>
    </div>
    <div class="side-column right-column">       
    </div>
</div>

