
<div class="header-tag">
    <span>COMBO 1 NGƯỜI</span>
</div>

<div class="container">
    <div class="row1">

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/D-CBO-CHICKEN-1.jpg?v=gk7jGg" />
                </div>

                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Combo Gà Rán 1</div>
                        <div class="row2-item-price">59.000đ</div>
                    </div>

                    <p>1 Miếng Gà + 1 Khoai Tây Chiên / 1 Khoai Tây Nghiền & Bắp Cải Trộn + 1 Pepsi (lớn)</p>

                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/D-CBO-CHICKEN-2.jpg?v=gk7jGg" />
                </div>

                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Combo Gà Rán 2</div>
                        <div class="row2-item-price">89.000đ</div>
                    </div>

                    <p>2 Miếng Gà + 1 Khoai Tây Chiên / 1 Khoai Tây Nghiền & Bắp Cải Trộn + 1 Pepsi (lớn)</p>

                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/D-CBO-Big-Juicy.jpg?v=gk7jGg" />
                </div>

                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Combo Gà Quay</div>
                        <div class="row2-item-price">117.000đ</div>
                    </div>

                    <p>1 Đùi Gà Quay Flava + 1 Salad Hạt + 1 Lipton (lớn)</p>

                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/D-CBO-Flava-Fillet.jpg?v=gk7jGg" />
                </div>

                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Combo Phi-lê Gà Quay</div>
                        <div class="row2-item-price">84.000đ</div>
                    </div>

                    <p>1 Phi-Lê Gà Quay Flava + 1 Salad Hạt + 1 Lipton (lớn)</p>

                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/D-CBO-B-Shrimp.jpg?v=gk7jGg" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Combo Burger Tôm</div>
                        <div class="row2-item-price">67.000đ</div>
                    </div>
					<p>1 Burger Tôm + 1 Khoai Tây Chiên (vừa) + 1 Pepsi (lớn)</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/D-CBO-B-Zinger.jpg?v=gk7jGg" />
                </div>

                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Combo Burger Zinger</div>
                        <div class="row2-item-price">77.000đ</div>
                    </div>

                    <p>1 Burger Zinger + 1 Khoai Tây Chiên (vừa) + 1 Pepsi (lớn)</p>

                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/D-CBO-B-Flava.jpg?v=gk7jGg" />
                </div>

                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Combo Burger Phi-lê Gà Quay</div>
                        <div class="row2-item-price">77.000đ</div>
                    </div>
                    <p>1 Burger Flava + 1 Khoai Tây Chiên (vừa) + 1 Pepsi (lớn)</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/D-CBO-PastaPop2.jpg?v=gk7jGg" />
                </div>

                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Combo Mì Ý Gà Viên</div>
                        <div class="row2-item-price">47.000đ</div>
                    </div>
                    <p>1 Mì Ý Popcorn + 1 Pepsi (lớn)</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/D-CBO-Pasta-Zinger.jpg?v=gk7jGg" />
                </div>

                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Combo Mì Ý Gà Zinger</div>
                        <div class="row2-item-price">67.000đ</div>
                    </div>
                    <p>1 Mì Ý Zinger + 1 Pepsi (lớn)</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/CBO-Pasta.jpg?v=gk7jGg" />
                </div>

                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Combo Mì Ý Gà Rán</div>
                        <div class="row2-item-price">77.000đ</div>
                    </div>
                    <p>1 Mì Ý Gà Rán + 1 Pepsi (lớn)</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/D-CBO-PastaPop.jpg?v=gk7jGg" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Box Meal Pasta Popcorn</div>
                        <div class="row2-item-price">78.000đ</div>
                    </div>
                    <p>1 Mì Ý Popcorn + 1 Miếng Gà + 1 Pepsi (lớn)</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/D-CBO-Pasta-Zinger-Chicken.jpg?v=gk7jGg" />
                </div>

                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Box Meal Pasta Zinger</div>
                        <div class="row2-item-price">99.000đ</div>
                    </div>
                    <p>1 Mì Ý Zinger + 1 Miếng Gà + 1 Pepsi (lớn)</p>
                    <div class="item-button">
                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/Pasta-Nuggets.jpg?v=gk7jGg" />
                </div>

                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Box Meal Pasta COB</div>
                        <div class="row2-item-price">97.000đ</div>
                    </div>

                    <p>1 Mì Ý Gà Rán + 3 Gà Miếng Nuggets + 1 Pepsi (lớn)</p>

                    <div class="item-button">

                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/D-CBO-Rice-COB.jpg?v=gk7jGg" />
                </div>

                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Combo Cơm Gà Rán</div>
                        <div class="row2-item-price">71.000đ</div>
                    </div>

                    <p>1 Cơm Gà Rán + 1 Súp Rong Biển + 1 Pepsi (lớn)</p>

                    <div class="item-button">

                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/D-CBO-Rice-Teri.jpg?v=gk7jGg" />
                </div>

                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Combo Cơm Gà Teriyaki</div>
                        <div class="row2-item-price">69.000đ</div>
                    </div>

                    <p>1 Cơm Teriyaki + 1 Súp Rong Biển + 1 Pepsi (lớn)</p>

                    <div class="item-button">

                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/D-CBO-Rice-Flava.jpg?v=gk7jGg" />
                </div>

                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Combo Phi-lê Gà Quay</div>
                        <div class="row2-item-price">84.000đ</div>
                    </div>

                    <p>1 Phi-Lê Gà Quay Flava + 1 Salad Hạt + 1 Lipton (lớn)</p>

                    <div class="item-button">

                        <div class="edit-button">Tuỳ Chỉnh</div>
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

