
<div class="header-tag">
    <span>THỨC ĂN NHẸ</span>
</div>


<div class="container">
    <div class="row1">
        @* 1 *@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/SALAD-HAT.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Salad Hạt</div>
                        <div class="row2-item-price">38.000đ</div>
                    </div>
                    <p>Salad Hạt</p>
                    <div class="item-button">
                        
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        @* 2 *@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/SALAD-HAT-GA-VIEN.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Salad Pop</div>
                        <div class="row2-item-price">45.000đ</div>
                    </div>
                    <p> 1 Salad Hạt Gà Viên Popcorn</p>
                    <div class="item-button">
                        
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        @* 3 *@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/3-Fishsticks.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">3 Cá Thanh</div>
                        <div class="row2-item-price">44.000đ</div>
                    </div>
                    <p>3 Cá Thanh</p>
                    <div class="item-button">
                       
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        @* 4 *@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/2-Skewers.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">2 Xiên Que</div>
                        <div class="row2-item-price">40.000đ</div>
                    </div>
                    <p>2 Xiên Que</p>
                    <div class="item-button">
                       
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        @* 5 *@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/4-Chewy-Cheese.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">4 Phô Mai Viên</div>
                        <div class="row2-item-price">36.000đ</div>
                    </div>
                    <p>4 Phô Mai Viên</p>
                    <div class="item-button">
                       
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        @* 6 *@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/6-Chewy-Cheese.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">6 Phô Mai Viên</div>
                        <div class="row2-item-price">49.000đ</div>
                    </div>
                    <p>6 Phô Mai Viên</p>
                    <div class="item-button">
                       
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        @* 7 *@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/FF-R.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Khoai Tây Chiên (Vừa)</div>
                        <div class="row2-item-price">19.000đ</div>
                    </div>
                    <p>Khoai Tây Chiên (Vừa)</p>
                    <div class="item-button">
                       
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        @* 8 *@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/FF-L.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Khoai Tây Chiên (Lớn)</div>
                        <div class="row2-item-price">28.000đ</div>
                    </div>
                    <p>Khoai Tây Chiên (Lớn)</p>
                    <div class="item-button">
                       
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        @* 9 *@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/FF-L.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Khoai Tây Chiên (Đại)</div>
                        <div class="row2-item-price">38.000đ</div>
                    </div>
                    <p>Khoai Tây Chiên (Đại)</p>
                    <div class="item-button">
                       
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        @* 10 *@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/khoai-mui-cau-R.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Khoai Tây Múi Cau (Vừa)</div>
                        <div class="row2-item-price">23.000đ</div>
                    </div>
                    <p>1 Khoai Tây Múi Cau (Vừa)</p>
                    <div class="item-button">
                       
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        @* 11 *@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/khoai-mui-cau-L.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Khoai Tây Múi Cau (Lớn)</div>
                        <div class="row2-item-price">43.000đ</div>
                    </div>
                    <p>1 Khoai Tây Múi Cau (Lớn)</p>
                    <div class="item-button">
                       
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
        @* 12 *@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/MP-(R)-new.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Khoai Tây Nghiền (Vừa)</div>
                        <div class="row2-item-price">12.000đ</div>
                    </div>
                    <p>Khoai Tây Nghiền (Vừa)</p>
                    <div class="item-button">
                       
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        @* 13 *@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/MP-(L)-new.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Khoai Tây Nghiền (Lớn)</div>
                        <div class="row2-item-price">22.000đ</div>
                    </div>
                    <p>Khoai Tây Nghiền (Lớn)</p>
                    <div class="item-button">
                       
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        @* 14*@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/MP-(J)-new.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Khoai Tây Nghiền (Đại)</div>
                        <div class="row2-item-price">31.000đ</div>
                    </div>
                    <p>Khoai Tây Nghiền (Đại)</p>
                    <div class="item-button">
                       
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        @* 15*@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/CL-(R)-new.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Bắp Cải Trộn (Vừa)</div>
                        <div class="row2-item-price">12.000đ</div>
                    </div>
                    <p>Bắp Cải Trộn (Vừa)</p>
                    <div class="item-button">
                       
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        @* 16*@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/CL-(L)-new.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Bắp Cải Trộn (Lớn)</div>
                        <div class="row2-item-price">22.000đ</div>
                    </div>
                    <p>Bắp Cải Trộn (Lớn)</p>
                    <div class="item-button">
                       
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        @* 17*@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/CL-(J)-new.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Bắp Cải Trộn (Đại)</div>
                        <div class="row2-item-price">31.000đ</div>
                    </div>
                    <p>Bắp Cải Trộn (Đại)</p>
                    <div class="item-button">
                       
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

        @* 18*@
        <div class="combo-item">
            <div class="combo-item-card">
                <div class="combo-image">
                    <img src="https://static.kfcvietnam.com.vn/images/items/lg/Soup-Rong-Bien.jpg?v=LKn023" />
                </div>
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Súp Rong Biển</div>
                        <div class="row2-item-price">19.000đ</div>
                    </div>
                    <p>Súp Rong Biển</p>
                    <div class="item-button">
                        
                        <div class="add-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
