<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kfc.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Kfc.WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="header-left">
                    <a class="header-left-logo">
                            <a asp-area="" asp-controller="Home" asp-action="Index"></a>
                    </a>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="font-size: 18px;" asp-area="" asp-controller="Home" asp-action="Index">THỰC ĐƠN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="font-size: 18px;" asp-area="" asp-controller="Home" asp-action="Privacy">KHUYẾN MÃI</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="font-size: 18px;" asp-area="" asp-controller="Home" asp-action="Privacy">DỊCH VỤ TIỆC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="font-size: 18px;" asp-area="" asp-controller="Home" asp-action="Privacy">HỆ THỐNG NHÀ HÀNG</a>
                        </li>
                    </ul>
                </div>

                <div class="header-right">
                    <a class="lang-option" href="https://kfcvietnam.com.vn/en/order/delivery/hot-deal">English</a>
                    <a class="lang-option d-none" href="https://kfcvietnam.com.vn/order/delivery/hot-deal">Tiếng Việt</a>
                    <ul class="header-right-icon">
                        <li>
                            <i class="icon-login"></i>
                        </li>
                        
                        <li>
                            <div class="shopping-cart">
                            </div>
                        </li>
                    </ul>
                    <a class="menu-nav">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Kfc.WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
