<div class="slide-banner">
    <div class="banner">
        <img src="https://static.kfcvietnam.com.vn/images/content/home/carousel/lg/DinnerP2.webp?v=gzNWdg" alt="image1" />
        <img src="https://static.kfcvietnam.com.vn/images/content/home/carousel/lg/combochuannhat.webp?v=gzNWdg" alt="image2" />
        <img src="https://static.kfcvietnam.com.vn/images/content/home/carousel/lg/BO.webp?v=gzNWdg" alt="image3" />
        <img src="https://static.kfcvietnam.com.vn/images/content/home/carousel/lg/Combo88.webp?v=gzNWdg" alt="image4" />
        <img src="https://static.kfcvietnam.com.vn/images/content/home/carousel/lg/HTKU.webp?v=gzNWdg" alt="image5" />
    </div>
    <button class="prev">&#10094;</button>
    <button class="next">&#10095;</button>
</div>

<div class="container-item">
    <div class="header-line">
       @*  ::before == $0 *@
        <h1>Danh mục món ăn</h1>
    </div>

    <div class="row1">
        <div class="product">
            <img src="https://static.kfcvietnam.com.vn/images/category/lg/KHUYEN%20MAI.jpg?v=L59D8L" />
            <div class="row1-product-title">
                Ưu Đãi
                @* ::after == $0 *@
            </div>
        </div>

        <div class="product">
            <img src="https://static.kfcvietnam.com.vn/images/category/lg/MON MOI.jpg?v=L7RyP3" />
            <div class="row1-product-title">
                Món Mới
                @* ::after == $0 *@
            </div>
        </div>

        <div class="product">
            <img src="https://static.kfcvietnam.com.vn/images/category/lg/COMBO 1 NGUOI.jpg?v=L7RyP3" />
            <div class="row1-product-title">
                Combo 1 Người
                @* ::after == $0 *@
            </div>
        </div>

        <div class="product">
            <img src="https://static.kfcvietnam.com.vn/images/category/lg/COMBO NHOM.jpg?v=L7RyP3"  />
            <div class="row1-product-title">
                Combo Nhóm
                @* ::after == $0 *@
            </div>
        </div>

        <div class="product">
            <img src="https://static.kfcvietnam.com.vn/images/category/lg/GA.jpg?v=L7RyP3" />
            <div class="row1-product-title">
                Gà Rán - Gà Quay
                @* ::after == $0 *@
            </div>
        </div>


        <div class="product">
            <img src="https://static.kfcvietnam.com.vn/images/category/lg/COM.jpg?v=L7RyP3" />
            <div class="row1-product-title">
                Burger - Cơm - Mì Ý
                @* ::after == $0 *@
            </div>
        </div>

        <div class="product">
            <img src="https://static.kfcvietnam.com.vn/images/category/lg/MON AN NHE.jpg?v=L7RyP3" />
            <div class="row1-product-title">
                Thức Ăn Nhẹ
                @* ::after == $0 *@
            </div>
        </div>

        <div class="product">
            <img src="https://static.kfcvietnam.com.vn/images/category/lg/TRANG MIENG.jpg?v=L7RyP3" />
            <div class="row1-product-title">
                Thức Uống & Tráng Miệng
                @* ::after == $0 *@
            </div>
        </div>
    </div>

    <div class="row2">
        <div class="header-row2">
            <i class="icon-avatar"></i>
            <span>Có thể bạn sẽ thích món này</span>
        </div>

        <div class="row2-item">
            <div class="combo-item">
                <img src="https://static.kfcvietnam.com.vn/images/items/lg/D-CBO-Bucket-1.jpg?v=L7RyP3" />
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Combo nhóm 2</div>
                        <div class="row2-item-price">127.000đ</div>
                    </div>
                    <p>2 Miếng Gà + 1 Burger Zinger + 2 Pepsi (lớn)</p>
                    <div class="item-button">
                        <div class="add-button">Tuỳ chỉnh</div>
                        <div class="edit-button">Thêm</div>
                    </div>
                </div>
            </div>

            <div class="combo-item">
                <img src="https://static.kfcvietnam.com.vn/images/items/lg/D-CBO-Bucket-2.jpg?v=L7RyP3" />
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Combo nhóm 3</div>
                        <div class="row2-item-price">160.000đ</div>
                    </div>
                    <p>3 Miếng Gà + 1 Mì Ý Popcorn + 1 Khoai Tây Chiên (vừa) + 2 Pepsi (lớn)</p>
                    <div class="item-button">
                        <div class="add-button">Tuỳ chỉnh</div>
                        <div class="edit-button">Thêm</div>
                    </div>
                </div>
            </div>

            <div class="combo-item">
                <img src="https://static.kfcvietnam.com.vn/images/items/lg/D-CBO-Bucket-3.jpg?v=L7RyP3" />
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Combo nhóm 4</div>
                        <div class="row2-item-price">167.000đ</div>
                    </div>
                    <p>4 Miếng Gà + 1 Khoai Tây Múi Cau (vừa) + 2 Pepsi (lớn)</p>
                    <div class="item-button">
                        <div class="add-button">Tuỳ chỉnh</div>
                        <div class="edit-button">Thêm</div>
                    </div>
                </div>
            </div>

            <div class="combo-item">
                <img src="https://static.kfcvietnam.com.vn/images/items/lg/D-CBO-Bucket-4.jpg?v=L7RyP3" />
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Combo nhóm 5</div>
                        <div class="row2-item-price">205.000đ</div>
                    </div>
                    <p>5 Miếng Gà + 1 Khoai Tây Chiên (vừa) + 3 Pepsi (lớn)</p>
                    <div class="item-button">
                        <div class="add-button">Tuỳ chỉnh</div>
                        <div class="edit-button">Thêm</div>
                    </div>
                </div>
            </div>

            <div class="combo-item">
                <img src="https://static.kfcvietnam.com.vn/images/items/lg/D-CBO-Bucket-5.jpg?v=L7RyP3" />
                <div class="item-desc">
                    <div class="item-title">
                        <div class="row2-item-title">Combo nhóm 6</div>
                        <div class="row2-item-price">275.000đ</div>
                    </div>
                    <p>6 Miếng Gà + 1 Mì Ý Popcorn + 1 Khoai Tây Múi Cau (vừa) + 4 Pepsi (lớn)</p>
                    <div class="item-button">
                        <div class="add-button">Tuỳ chỉnh</div>
                        <div class="edit-button">Thêm</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>